ion-img {
    width: 80%;
    height: auto;
}

form {
    padding-top: 2em;
    ion-button {
        padding-top: 1em;
    }
}

ion-fab-list {
    ion-fab-button {
        width: 4em !important;
        height: 4em !important;
    }
}