<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button slot="start" menu="first"></ion-menu-button>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
    <ion-button routerLink="./cosas-feas" color="feas">
        <ion-img src="/assets/CosasFeas.jpg">
        </ion-img>
        <h1 style="color:black;">
            Cosas feas
        </h1>
    </ion-button>
    <ion-button routerLink="./cosas-lindas" color="lindas">
        <ion-img src="/assets/CosasLindas.jpg">
        </ion-img>
        <h1>
            Cosas lindas
        </h1>
    </ion-button>
</ion-content>
